//fonts
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&display=swap');

//mixins
@mixin text {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
@mixin flex-center{
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  @include flex-center;
  justify-content: center;
  font-family: 'Khula', sans-serif;
}

.container {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 8px;

  .header {
    @include flex-center;
    padding: 16px 24px;
    border-bottom: 1px solid #DADADA;

    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      color: #1C1F37;
      display: flex;
      flex: 1;
    }

    .details {
      @include text;
      color: #017EFA;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: darkblue;
      }
    }
  }

  .content {
    padding: 8px 24px;

    .statistics {
      .number {
        margin-right: 12px;
        font-weight: 600;
        font-size: 28px;
        line-height: 45px;
        color: #1C1F37;
      }

      .percentage {
        margin-right: 2px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #30D988;
      }

      .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: rgba(28, 31, 55, 0.58);
      }
    }

    .bar {
      margin-top: 8px;
      margin-bottom: 24px;
      display: flex;

      .fbbar {
        width: 52px;
        height: 10px;
        background: #017EFA;
        border: 1px solid #FFFFFF;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      .instabar {
        width: 177px;
        height: 10px;
        background: #FD1F9B;
        border: 1px solid #FFFFFF;
      }

      .linkedinbar {
        width: 83px;
        height: 10px;
        background: #007AB5;
        border: 1px solid #FFFFFF;
      }

      .ytbar {
        width: 37px;
        height: 10px;
        background: #FF0000;
        border: 1px solid #FFFFFF;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .socialmedia {
      &-item {
        @include flex-center;
        justify-content: space-between;
        border-bottom: 1px solid #DADADA;
        padding: 12px 0;

        &:last-child {
          border: none;
        }

        .logo {
          @include flex-center;

          img {
            height: 16px;
          }

          .name {
            margin-left: 12px;
            @include text;

            &.youtube {
              color: #FF0000;
            }

            &.facebook {
              color: #017EFA;
            }

            &.instagram {
              color: #FD1F9B;
            }

            &.linkedin {
              color: #007AB5;
            }
          }
        }

        .visitors {
          @include text;
          color: #313131;
        }

        .percentage1 {
          @include text;
          text-align: right;
          color: #313131;
        }
      }
    }
  }
}