@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif; }

.container {
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  width: 800px; }
  .container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px; }
    .container .header .details {
      display: flex;
      align-items: center;
      justify-content: center; }
      .container .header .details img {
        border-radius: 6px;
        width: 60px;
        height: 60px;
        margin-right: 16px; }
      .container .header .details .info {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .container .header .details .info .name {
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          color: #0065FF; }
        .container .header .details .info .location {
          display: flex; }
          .container .header .details .info .location .company {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #202024;
            margin-right: 12px; }
          .container .header .details .info .location .city {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #202024; }
    .container .header .payment {
      text-align: right; }
      .container .header .payment .price {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        color: #786DCF; }
      .container .header .payment .rate {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #202024; }
      .container .header .payment .brokerfee {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #202024; }
  .container .content .description {
    display: flex;
    padding: 20px 24px;
    background: #E2E2E2; }
    .container .content .description .text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #202024; }
    .container .content .description .buttons {
      display: flex; }
      .container .content .description .buttons .archive {
        background: #FFFFFF;
        border-radius: 4px;
        padding: 4px 16px; }
        .container .content .description .buttons .archive:hover {
          background: lightgrey;
          cursor: pointer; }
      .container .content .description .buttons .delete {
        background: #786DCF;
        border: 1px solid #786DCF;
        border-radius: 4px;
        color: white;
        padding: 4px 16px; }
        .container .content .description .buttons .delete:hover {
          background: #15bbde;
          color: black;
          cursor: pointer; }
      .container .content .description .buttons button {
        margin-right: 6px; }
        .container .content .description .buttons button:last-child {
          margin-right: 0; }
  .container .content .informational {
    display: flex;
    border-bottom: 1px solid #E2E2E2; }
    .container .content .informational-item {
      padding: 16px 24px;
      display: flex;
      flex: 1 1 0px;
      flex-direction: column;
      border-right: 1px solid #E2E2E2; }
      .container .content .informational-item:last-child {
        border-right: none; }
      .container .content .informational-item h3 {
        font-size: 16px;
        font-weight: 600;
        color: #202024; }
      .container .content .informational-item ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .container .content .informational-item ul li {
          display: flex; }
          .container .content .informational-item ul li span {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #202024; }
            .container .content .informational-item ul li span:first-child {
              display: flex;
              flex: 1; }
      .container .content .informational-item .price {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: #786DCF;
        margin-bottom: 8px; }
      .container .content .informational-item .brokerfee {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #202024; }
      .container .content .informational-item .bold {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #0065FF; }
  .container .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #786DCF;
    padding: 16px 24px; }
  .container .footer .infos {
    display: flex;
    padding: 16px 24px;
    background: #E2E2E2; }
    .container .footer .infos .logo img {
      width: 80px;
      height: 80px;
      border-radius: 5px;
      margin-right: 24px; }
    .container .footer .infos .companydetails {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center; }
      .container .footer .infos .companydetails .name {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #202024; }
      .container .footer .infos .companydetails .address {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #202024; }
    .container .footer .infos .deadline span {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #202024; }
      .container .footer .infos .deadline span.counter {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #DF3859; }
    .container .footer .infos .deadline-buttons {
      margin-top: 12px;
      text-align: right; }
      .container .footer .infos .deadline-buttons .archive {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        padding: 8px 32px;
        margin-right: 6px; }
        .container .footer .infos .deadline-buttons .archive:hover {
          cursor: pointer;
          text-decoration: underline; }
      .container .footer .infos .deadline-buttons .share {
        background: #786DCF;
        border: 1px solid #786DCF;
        border-radius: 6px;
        padding: 8px 32px;
        color: white; }
        .container .footer .infos .deadline-buttons .share:hover {
          cursor: pointer;
          text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
